#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

/*
Added style for removeButton and the hover effect. Changed

*/
#removeButton{
  font-size: 14px;
  background-color: background-color: #e7e7e7; color: black;
  border-radius: 8px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

#removeButton:hover{
  background-color: #0021A5;
  color: #FA4616;
}

.jumbotron{

}
